<%= render @recipe %>

<div class="flex space-between">
  <%= button_to "Generate Shopping List", root_path %>
  <%= button_to "Create New Food", new_food_path, method: :get%>
</div>
<hr/>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Total Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe.recipe_foods.where(recipe_id: @recipe.id).each do |rf| %>
      <tr>
        <td><%= rf.food.name %></td>
        <td><%= rf.quantity %> <%= rf.food.measurement_unit %></td>
        <td>$ <%= (rf.food.price * rf.quantity).round(2) %></td>
        <% if can? :manage, rf.food %>
          <td class="flex btn-manage">
            <%= button_to "Modify", edit_recipe_food_path(rf), method: :get %>
            <%= button_to "Remove", rf, { :method => :delete, :onclick => "setTimeout(() => { this.parentNode.parentNode.parentNode.remove();}, 100);" } %>
          </td>
        <% else %>
          <td> - </td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td>
        <% if @food_options.empty? %>
          No food available to add
        <% else %>
          <%= select_tag "food-select", options_for_select(@food_options) %>
        <% end %>
      </td>
      <td></td>
      <td></td>
      <td>
        <% if @food_options.empty? %>
          <%= button_to "Add new ingredient", {}, :disabled => true %>
        <% else %>
          <%= button_to "Add new ingredient", new_recipe_food_path, method: :get %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>
  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>
