<p style="color: green"><%= notice %></p>

<div class="title-container flex">
  <h1>Foods</h1>
  <%= button_to "New food", new_food_path %>
</div>

<% unless @foods.empty? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Measurement Unit</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name%></td>
          <td><%= food.measurement_unit%></td>
          <td>$ <%= food.price%></td>
          <td><%= link_to "Delete", food %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No foods available</p>
<% end %>
